@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Radio Canada', sans-serif;
}
body{
    background:black;
  }
  
  .main{
    width:150px;
    height:150px;
    border:1px solid #EDEBB6;
    position:absolute;
    top: 0;right: 0; bottom: 0; left: 0;
    margin:auto;
    border-radius:50%;
    opacity: 50%;
    transition: all 0.5s;
  }
  .main:hover{
    transform: scale(1.2);
    opacity: 90%;
  }
  
  .circle{
    width:15px;
    height:15px;
    background:	#0D15C5;
    border-radius:50%;
    position:absolute;
    top:0; bottom:0; left:0;right:0;
    overflow:hidden;
    margin:auto;
    animation: circle 6s linear infinite;
  }
  
  @keyframes circle{
    0%{
      transform:rotate(0deg)
                translate(-75px)
                rotate(0deg);
    
    }
    100%{
      transform:rotate(360deg)
                translate(-75px)
                rotate(-360deg);
    }
  }
