$base-navy: #0A192F;
$text-1-gray: #CCD6F6;
$accent-yellow: #C5BD0D;

.homediv{
    background-color: $base-navy;
    width: 99vw;
    height: 100vh;
    h1{
        margin-top: 0;
        color: $text-1-gray;
        font-weight: 400;
        font-size: 70px;
    }
    hr{
        width: 600px;
        border-width: 3px;
        border-color: $accent-yellow;
    }
}