$text-1-gray: #CCD6F6;
$base-navy: #0A192F;
$accent-yellow: #C5BD0D;
.fade-in {
    opacity: 1;
  }

.Navbar{
    padding: 20px 60px 20px 20px;
    background-color: $base-navy;
    width: 100%;
}
.contactMeBtt {
    color: $text-1-gray;
    border-radius: 10px;
    border: solid $accent-yellow;
    padding: 3px 10px 3px 10px;
    letter-spacing: 2px;
}
.menu{
position: fixed;
top: 0;
right: 0;
background-color: black;
width: 40vw;
height: 100vh;
color: white;
z-index: 999999;
transition: ease-in-out .5s;
}
.closeMenuBtt{
    font-size: 40px;
    padding-left: 20px;
    transition: all .2s;
}

.closeMenuBtt:hover{
    color: $accent-yellow;
}

.menuHidden{
    position: fixed;
    top: 0;
    right: -75%;
    width: 40vw;
    height: 100vh;
    z-index: 999999;
    transition: ease-in-out .5s;
    }

.menu ul li, .menuHidden ul li{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 60px;
    line-height: 20vh;
    transition: all 0.2s;
    text-underline-offset: 16px;
}

.menu ul li:hover{
    color: $accent-yellow;
    text-decoration: underline;
}

@media (max-width: 1000px) {
    .menu{
        width: 60vw;
        }
  }

@media (max-width: 600px) {
    .contactMeBtt {
        display: none;
    }
    .menu{
        width: 100vw;
        }
  }
